<tr class="device-row">
  <td><%= device_counter + 1 %></td>
  <td class="max-width-250"><%= device.name %></td>
  <td><%= device.country_produce %></td>
  <td><%= device.year_produce %></td>
  <td><%= device.year_use %></td>
  <td><%= display_unit device %></td>
  <td><%= default_format_number(device.unit_price) %></td>
  <td><%= default_format_number(device.quantity_account_book) %></td>
  <td>
    <%= default_format_number(calc_money device.quantity_account_book, device.unit_price) %>
  </td>
  <td><%= device.quantity_actual_inventory %></td>
  <td>
    <%= default_format_number(calc_money device.quantity_actual_inventory, device.unit_price) %>
  </td>
  <td><%= device.quantity_redundancy %></td>
  <td><%= device.quantity_missing %></td>
  <td><%= device.note %></td>
  <td><%= device.source %></td>
  <td class="relative">
    <%= device.status %>
    <div class="action-hidden">
      <%= link_to edit_device_path(device), class: "btn btn-primary btn-xs",
        title: t("edit") do %>
        <i class="glyphicon glyphicon-edit"></i>
      <% end %>
      <%= link_to device_path(device), method: :delete, title: t("delete"),
        class: "btn btn-danger btn-xs" do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    </div>
  </td>
</tr>
