<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <% if user_signed_in? %>
        <div class="row">
          <div class="col-md-12 nav-header">
            <%= render "layouts/nav_header" %>
          </div>
        </div>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="alert alert-success fade in message-alert">
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="modal fade" id="edit-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body row"></div>
        </div>
      </div>
    </div>
  </body>
</html>
